# global options
{
    admin off # no need for admin API in Railway environment
    persist_config off # storage isn't persistent anyway
    auto_https off # Railway handles HTTPS for us
    # runtime logs
    log {
        format json # set runtime log format to json mode
    }
    # server options
    servers {
        trusted_proxies static private_ranges 100.0.0.0/8 # trust Railway's proxy
    }
}

# site block, listens on the $PORT environment variable
:{$PORT:3000} {
    # access logs
    log {
        format json # set access log format to json mode
    }
    
    # health check for Railway
    rewrite /health /*
    
    # serve from the 'dist' folder (React Router v7 builds into dist/client)
    root * dist
    
    # enable gzipping responses
    encode gzip
    
    # serve files from 'dist'
    file_server
    
    # if path doesn't exist, redirect it to 'index.html' for client side routing
    try_files {path} /index.html
} 